.ag-format-container {
    width: 1142px;
    margin: 0 auto;
}

.ag-courses_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    padding: 50px 0;
}
.ag-courses_item {
    position: relative;
    -ms-flex-preferred-size: calc(20% - 30px);
    flex-basis: calc(20% - 30px);

    margin: 0 15px 30px;

    overflow: hidden;

    border-radius: 28px;
    border: 1px white dashed;
}
.ag-courses-item_link {
    display: block;
    padding: 30px 20px;
    background-color: #000;
    border-radius: inherit;
    text-decoration: none;

    overflow: hidden;

    position: relative;
}
.ag-courses-item_link:hover,
.ag-courses-item_link:hover .ag-courses-item_date {
    text-decoration: none;
    color: #FFF;
}
.ag-courses-item_link:hover .ag-courses-item_bg {
    -webkit-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
}
.ag-courses-item_title {
    margin: 10px;

    overflow: hidden;

    font-weight: bold;
    font-size: 150%;
    color: #FFF;

    z-index: 2;
    position: relative;
}
.ag-courses-item_date-box {
    font-size: 18px;
    color: #FFF;

    z-index: 2;
    position: relative;
}
.ag-courses-item_date {
    font-weight: bold;
    color: #f9b234;

    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease
}
.ag-courses-item_bg {
    height: 128px;
    width: 128px;

    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;

    border-radius: 50%;

    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.github {
    background-color: #0d1117;
}

.instagram {
    background: linear-gradient(
            to right,
            #833ab4,#fd1d1d,#fcb045
    );;
}

.linkedin {
    background-color: #0077b5;
}

.bakalari {
    background: linear-gradient(253deg, rgba(255,0,0,1) 0%, rgba(255,0,110,1) 14.28%, rgba(248,1,88,1) 28.56%, rgba(132,0,198,1) 42.84%, rgba(0,163,226,1) 57.12%, rgba(66,164,43,1) 71.4%, rgba(242,146,0,1) 85.68%, rgba(226,5,20,1) 100%);
}



@media only screen and (max-width: 979px) {
    .ag-courses_item {
        -ms-flex-preferred-size: calc(50% - 30px);
        flex-basis: calc(50% - 30px);
    }
    .ag-courses-item_title {
        font-size: 24px;
    }
}

@media only screen and (max-width: 767px) {
    .ag-format-container {
        width: 96%;
    }

}
@media only screen and (max-width: 639px) {
    .ag-courses_item {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }
    .ag-courses-item_title {
        min-height: 72px;
        line-height: 1;

        font-size: 24px;
    }
    .ag-courses-item_link {
        padding: 22px 40px;
    }
    .ag-courses-item_date-box {
        font-size: 16px;
    }
}

.ag-courses_item {
    /* Existing styles... */
    transition: transform 0.2s;
    position: relative;
}

.ag-courses_item.dragging {
    opacity: 0;
}

